.repo-spinner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
    margin-bottom: 100px;
}
.spinner{
    height: 168px;
    width: 485px;
    position: relative;
    background-color: rgb(196, 196, 196);
    overflow: hidden;
}
.spinner::after{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20%;
    background-color: transparent;
    box-shadow: -100px -35px 88px 89px #fff;
    -webkit-box-shadow: -100px -35px 88px 89px #fff;
    -moz-box-shadow: -100px -35px 88px 89px #fff;
    animation: shadowMove 1.3s ease-in-out infinite;
}
@keyframes shadowMove {
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
        box-shadow: -36px -35px 88px 89px rgb(196, 196, 196);
        -webkit-box-shadow: -35px -35px 88px 89px rgb(196, 196, 196);
        -moz-box-shadow: -36px -35px 88px 89px rgb(196, 196, 196);


    }
    
}